:root {
  --accent: #3a5;
  --border: #eee;

  --bg: #fafafa;
  --bg-content: #fff;
  --bg-sidebar: #fff;

  --fg: #000;
  --fg-sidebar: #222;
}

body {
  font-family: "Roboto", "Droid Sans", "Ubuntu Sans", Sans;
  font-size: 12pt;
  background: var(--bg);
  color: var(--fg);
  margin: 0px;
  padding: 0px;
}

.topbar {
  font-size: 32pt;
  border-right: none !important;
  background: var(--bg-sidebar);
  padding: 20px;
  margin-bottom: 10px;
}

.topbar:hover {
  border-right: none !important;
}

.title {
  display: block;
  color: var(--accent);
  text-decoration: none;
  margin-bottom: -20px;
}

.title:hover {
  text-decoration: underline;
}

.description {
  font-size: 11pt;
  color: var(--fg-sidebar);
}

.sidebar {
  width: 25%;
  background-color: var(--bg-sidebar);
  border-right: 1px var(--border) solid;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  text-align: right;
}

.sidebar a.sidelink {
  display: block;
  color: var(--fg-sidebar);
  padding: 10px;
  text-decoration: none;
  padding-right: 20px;
  border-right: 2px var(--bg-sidebar) solid;
}

.sidebar a.sidelink:hover {
  color: var(--accent);
  border-right: 2px var(--accent) solid;
}

.page {
  margin-left: 25%;
}

.navigation {
  padding: 10px 20px;
  border-bottom: 1px var(--border) solid;
  background: var(--border);
  color: var(--accent);
  font-size: 11pt;
}

.navigation a {
  text-decoration: none;
  color: var(--fg);
}

.navigation a:hover {
  text-decoration: underline;
}

.navigation span {
  color: var(--fg);
  font-weight: bold;
}

.back {
  font-style: italic;
}

.content {
  max-width: 1000px;
}

.text {
  background: var(--bg-content);
  border: 1px var(--border) solid;
  margin: 5px;
  padding: 10px;
}

.gallery {
  background: var(--bg-content);
  border: 1px var(--border) solid;
  margin: 5px;
  padding: 10px;
}

.footer {
  margin: 10px;
  color: #ccc;
  font-size: 10pt;
  text-align: center;
}

.footer a {
  color: #ccc;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
  }
  .sidebar a.sidelink {
    float: left;
    border-style: hidden;
  }

  .sidebar a.sidelink:hover {
    border-style: hidden;
    background: var(--border);
  }

  div.page {margin-left: 0; padding-left: 0px;}
}

@media screen and (max-width: 400px) {
  .sidebar a.sidelink {
    float: none;
    text-align: center;
    border-style: hidden;
  }

  .sidebar a.sidelink:hover {
    border-style: hidden;
    background: var(--border);
  }
}

.text a {
  font-weight: bold;
  text-decoration: none;
  color: var(--accent);
}

.text a:hover {
  text-decoration: underline;
}

.text code {
  display: inline-block;
  padding: 3px 5px;
  background: var(--bg);
  border: 1px var(--border) solid;
  color: var(--fg);
  font-size: 10pt;
}

.text pre code {
  display: block;
  padding: 10px;
}

.download {
  background: var(--bg-content);
  border: 1px var(--border) solid;
  margin: 5px;
  padding: 10px;
}

.download a {
  text-decoration: none;
  font-size: 12pt;
  display: inline-block;
  line-height: 20pt;
  border: 1px var(--border) solid;
  background: var(--bg-content);
  padding: 10px 10px 5px 10px;
  margin: 5px;
  color: #555;
}

.download a:hover{
  border: 1px var(--fg) solid;
  color: var(--fg-content);
}

.download a span {
  float: right;
}

.download a svg {
  width: 24px;
  height: 24px;
  padding: 0px 5px;
  float: left;
  fill: #aaa;
}

.download a:hover svg {
  fill: var(--fg);
}

.gallery {
  background: var(--bg-content);
  border: 1px var(--border) solid;
  margin: 5px;
  padding: 10px;
}

.gallery a {
  text-decoration: none;
  display: inline-block;
  background: #222;
  padding: 5px;
  margin: 5px;
  color: #aaa;
}

.gallery a:hover{
  color: var(--bg-content);
}

.gallery img {
  transition: opacity .25s ease-in-out;
  opacity: .8;
  margin: auto;
  height: 200px;
  max-width: 480px;
}

.gallery a:hover img {
  opacity: 1;
}

.gallery span {
  font-size: 10pt;
  display: block;
  text-align: center;
  padding: 5px 5px;
}

.git {
  background: var(--bg-content);
  border: 1px var(--border) solid;
  margin: 5px;
  padding: 10px;
}

.git #container {
  display: table;
  width: 100%;
  border-spacing: 10px;
}

.git #container span {
  vertical-align: middle;
  text-align: center;
}

.git #icon {
  display: table-cell;
  width: 24px;
}

.git #url {
  display: table-cell;
  border: 1px var(--border) solid;
  background: var(--bg-content);
  color: var(--fg);
  font-family: monospace;
}

.git #download {
  display: table-cell;
  background: var(--bg);
  border: 1px var(--border) solid;
  font-size: 11pt;
}

.git #download a {
  display: block;
  color: var(--accent);
  text-decoration: none;
}

.git #download:hover {
  border: 1px var(--accent) solid;
}
